.containerHome{
    margin: 0 100px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.secaoCards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}

.tituloRecentes{
    text-align: center;
    margin-bottom: 15px;
}
