.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1em 20em;
    background-color:#000000;
}

.imgLogo{
    width: 13%;
    max-width: 100%;
}