.containerVideo{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}


  .videoWrapper iframe {
    width: 800px;
    height: 600px;
    max-width: 100%; /* Garantir que o vídeo não exceda a largura máxima do contêiner */

    top: 0;
    left: 0;
  }
  /* Estilo para celular */
  @media (max-width: 767px) {
 
    .videoWrapper iframe {
      width: 353px;
      height: 263px; /* Ajuste a altura para manter a proporção 4:3 */
    }

    .containerVideo h1{
        font-size: 0.8rem;
        margin-top: 70px;
        text-align: center;
    }

    .containerVideo{
        height: 85vh;
        justify-content: start;
    }

    .videoWrapper{
        margin-top: 20px;
     
    }
  }